.*
!.gitignore
!.gitmodules

bin/
build/

/cmake-build-debug/
/cmake-build-release/

pose_analyzer/test_data
pose_analyzer/__*

file_compare/test_data

renderer/results/
renderer/_*

camera_calibrate/imgs
camera_calibrate/*.yml

example/__pycache__/*
python/__pycache__/*
